.profile {
  margin: 0;
  padding: 0;
}

.profile__secion {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile__hello {
  margin: 74px auto;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 29.05px;
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .profile__hello {
    margin: 236px auto 96px auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__hello {
    margin: 70px auto 80px auto;
  }
}

.profile__form {
  margin: 49px auto 0 auto;
  padding: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-width: 410px;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.31px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .profile__form {
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__form {
    min-width: 260px;
    margin: 0;
    padding: 0 30px;
  }
}

.profile__name {
  margin: 0;
  padding-bottom: 17px;
  display: flex;
  justify-content: space-between;
  justify-items: flex-start;
  border-bottom: 1px solid #424242;
}

.profile__email {
  margin-top: 17px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.profile__edit-button {
  margin-top: 220px;
  padding: 0;
  background: none;
  border: none;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.73px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .profile__edit-button {
    margin-top: 212px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__edit-button {
    margin-top: 379px;
    font-size: 12px;
    line-height: 14.52px;
  }
}

.profile__signout-button {
  margin: 17px 0 17px 0;
  padding: 0;
  background: none;
  border: none;
  color: #EE3465;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.73px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__signout-button {
    font-size: 12px;
    line-height: 14.52px;
  }
}

.profile__save-button {
  margin-top: 20px;
  padding: 0;
  background-color: #3456F3;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  width: 100%;
  min-height: 45px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
}

.profile__save-button_disabled {
  margin-top: 20px;
  padding: 0;
  background-color: #F8F8F8;
  color: #C2C2C2;
  cursor: none;
}

.profile__error {
  margin-top: 220px;
  padding: 0;
  min-height: 14px;
  visibility: hidden;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .profile__error {
    margin-top: 180px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__error {
    margin-top: 379px;
  }
}

.profile__error-visable {
  margin-top: 190px;
  padding: 0;
  color: #FF004C;
  font-size: 11px;
  font-weight: 400;
  line-height: 13.31px;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .profile__error-visable {
    margin-top: 180px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__error-visable {
    margin-top: 347px;
  }
}

.profile__label {
  margin: 0;
  padding: 0;
}

.profile__input {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  text-align: right;
  color: #FFFFFF;
}

.profile__input:focus {
  outline: none;
  border: none;
}