.not-found {
  margin: 0;
  padding: 246px 440px 60px 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 67.8vh;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .not-found {
    padding: 408px 184px 222px 184px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .not-found {
    padding: 329px 10px 30px 10px;
  }
}

.not-found__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 140px;
  line-height: 169.43px;
  color: #fff;
}

.not-found__subtitle {
  margin-top: 5px;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  color: #fff;
}

.not-found__back-link {
  margin-top: 184px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: #4285F4;
  text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .not-found__back-link {
    margin-top: 284px;
  }
}