.saved-movies {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #202020;
}

.saved-movies__overlay {
  opacity: 30%;
  transition: opacity 0.3s ease-in-out;
}

