.footer {
  margin: 0;
  padding: 60px 70px 20px 70px;
  background-color: #202020;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer {
    padding: 25px 30px 20px 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    padding: 60px 10px 20px 10px;
  }
}

.footer__heading {
  margin: 0;
  padding: 0;
  color: #8B8B8B;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__heading {
    font-size: 12px;
    line-height: 14.52px;
  }
}

.footer__info {
  margin-top: 20px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #424242;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__info {
    margin-top: 23px;
    padding: 5px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

.footer__copyright {
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__copyright {
    padding-top: 30px;
    font-size: 12px;
    line-height: 14.52px;
  }
}

.footer__links {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
  text-align: right;
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__links {
    padding-top: 13px;
    font-size: 12px;
    line-height: 14.52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.footer__link-element {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__link-element {
    margin: 0;
    padding-top: 12px;
  }
}

.footer__link {
  margin: 0 0 0 20px;
  padding: 0;
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__link {
    margin: 0;
  }
}