.login {
  margin: 0 auto;
  padding-top: 70px;
  max-width: 396px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .login {
    padding-top: 232px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .login {
    padding: 56px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 260px;
  }
}

.login__logo {
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
}

.login__hello {
  margin: 40px 0 35px 0;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .login__hello {
    margin: 40px 0 35px 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .login__hello {
    margin: 50px 0 75px 0;
  }
}

.login__form {
  margin-top: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .login__form {
    min-width: 260px;
  }
}

.login__heading {
  margin-top: 6px;
  padding: 0;
  color: #8B8B8B;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.1px;
}

.login__input {
  margin-top: 5px;
  padding: 0;
  padding-bottom: 10px;
  min-height: 17px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  border: none;
  border-bottom: 1px solid #424242;
  background-color: #202020;
  color: #fff;
  letter-spacing: 0.15px;
}

.login__input::placeholder {
  color: #8B8B8B;
}

.login__input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #4285F4;
  background-color: #202020;
}

.login__input-error {
  color: #EE3465;
}


.login__button {
  margin-top: 203px;
  padding: 0;
  min-height: 45px;
  width: 100%;
  background-color: #4285F4;
  border-radius: 3px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .login__button {
    margin-top: 291px;
    max-width: 260px;
    font-size: 12px;
    line-height: 14.52px;
  }
}

.login__button_disabled {
  background-color: #F8F8F8;
  color: #C2C2C2;
}

.login__question {
  margin-top: 16px;
  padding: 0;
  display: flex;
  justify-content: center;
  color: #8B8B8B;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .login__question {
    font-size: 12px;
    line-height: 14.52px;
  }
}

.login__signup {
  margin-left: 6px;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-decoration: none;
  color: #4285F4;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .login__signup {
    font-size: 12px;
    line-height: 14.52px;
  }
}

.login__error {
  min-height: 12px;
  visibility: hidden;
}

.login__error-visible {
  margin-top: 6px;
  min-height: 12px;
  color: #EE3465;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.1px;
}